@import "tailwindcss";

* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  font-family: "Noto Sans Mono", monospace;
}

:root {
  --foreground: #353535;
  --background: #eaeee2de;
  --primary-rgb: 0, 0, 0;
  --secondary-rgb: 51, 51, 51;
  --button: #c7ebbc;
}

/* button{

    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--button);
    color: var(--foreground);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 0;

} */
.dark {
  --foreground: #fff;
  --background: #262626;
  --primary-rgb: 255, 255, 255;
  --secondary-rgb: 229, 229, 229;
  --button: #67e242;
}
/*  h1 */
h1, h2, h3, h4, h5, h6 {
color: #67e242;
text-align: center;
}
p { text-align: left;}

body {
 
  color: var(--foreground);
  background: var(--background);
  transition: color 0.3s ease, background-color 0.3s ease;
}


.toggle-button {
  background-color: var(--button);
  color: var(--foreground);
  border-radius: 30%;
  padding: 0.5rem;
  border: 0;
}

/* navigation */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom:100px;
  width: 100%;
  z-index: 50;
  background-color: var(--background);
  backdrop-filter: blur(8px);
}

.navigation-container {

  padding: 0 1rem;
}

.navigation-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative; /* Added for mobile menu positioning */
}

.navigation-logo {
  display: flex;
  align-items: center;
}
.content{
  margin-top: 100px;
  max-width: 1000px;
  margin: 0 auto;
 
}

.logo-img {
  height: 2rem;
  width: auto;
}

/* Mobile menu button styles */
.mobile-menu-button {
  display: relative;
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.hamburger-icon .bar {
  background-color:  #67e242;
}
.hamburger-icon {
  position: relative;
  width: 24px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
  transform-origin: left;
}

/* Animation for open state */
.hamburger-icon.open .bar:nth-child(1) {
  transform: rotate(45deg);
  width: 28px; /* Slightly longer for better appearance */
}

.hamburger-icon.open .bar:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

.hamburger-icon.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  width: 28px; /* Slightly longer for better appearance */
}

/* Navigation menu styles */
.navigation-menu {
  position: absolute; /* Changed from relative */
  top: 100%; /* Position below the header */
  width: 100%;
  left: -1rem;
  background-color: var(--background);
  padding: 1rem;
  display: none; /* Hide by default */
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* Show mobile menu when active */
.navigation-menu.show-mobile-menu {
  display: flex;
}

.nav-link {
  color: var(--foreground);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s ease;
  padding: 0.5rem 0;
}

.nav-link:hover {
  color:var(--button);
}

.navigation-menu-wrapper{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
/* Desktop styles */
@media (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }

  .navigation-menu {
    position: relative;
    width: auto;
    background-color: transparent;
    display: flex; /* Always show on desktop */
    flex-direction: row;
    gap: 2rem;
    box-shadow: none;
  }

  .navigation-menu .nav-link {
    padding: 0;
  }
}


@layer utilities {
  .pattern-dot-three {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.68 30.68"><rect fill="%2367e242" x="11.58" y="11.48" width="7.72" height="7.72"/><rect fill="%2367e242" x="3.86" y="3.76" width="7.72" height="7.72"/><rect fill="%2367e242" x="19.29" y="19.2" width="7.72" height="7.72"/></svg>');
    background-repeat: repeat-x;
  }
  .pattern-square-light {
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.78 22.86"><path fill="%23784fcf" d="M1.76,4.02H0.61V2.87h1.15V4.02z M1.76,8.58H0.61V7.44h1.15V8.58z M1.76,13.16H0.61v-1.15h1.15V13.16z M1.76,17.73H0.61v-1.14h1.15V17.73z M1.76,22.3H0.61v-1.15h1.15V22.3z M4.03,1.73H2.88V0.6h1.15V1.73z M4.03,6.31H2.88V5.16h1.15V6.31z M4.03,10.88H2.88V9.73h1.15V10.88z M4.03,15.44H2.88v-1.15h1.15V15.44z M4.03,20.01H2.88v-1.14h1.15V20.01z M6.32,4.02H5.18V2.87h1.14V4.02z M6.32,8.58H5.18V7.44h1.14V8.58z M6.32,13.16H5.18v-1.15h1.14V13.16z M6.32,17.73H5.18v-1.14h1.14V17.73z M6.32,22.3H5.18v-1.15h1.14V22.3z M8.6,1.73H7.47V0.6H8.6V1.73z M8.6,6.31H7.47V5.16H8.6V6.31z M8.6,10.88H7.47V9.73H8.6V10.88z M8.6,15.44H7.47v-1.15H8.6V15.44z M8.6,20.01H7.47v-1.14H8.6V20.01z M10.89,4.02H9.74V2.87h1.15V4.02z M10.89,8.58H9.74V7.44h1.15V8.58z M10.89,13.16H9.74v-1.15h1.15V13.16z M10.89,17.73H9.74v-1.14h1.15V17.73z M10.89,22.3H9.74v-1.15h1.15V22.3z M13.18,1.73h-1.15V0.6h1.15V1.73z M13.18,6.31h-1.15V5.16h1.15V6.31z M13.18,10.88h-1.15V9.73h1.15V10.88z M13.18,15.44h-1.15v-1.15h1.15V15.44z M13.18,20.01h-1.15v-1.14h1.15V20.01z"/></svg>');
  }
}
/* Footer */


/* 
footer a {
  color: var(--foreground);
  text-decoration: none;
  margin-left: 1rem;
}
.footer-content{
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
} */
/* hero */
.hero{
 margin-top: 50px;
}
.hero-text{
margin-top: 100px; 
display:flex;
flex-direction: column;
justify-content: space-between;

}
.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--foreground);
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--foreground);
}

.chevron {
  color: var(--foreground);
  transition: color 0.2s ease;
  &:hover {
    color: var(--button);
  }
}
/* Home page */
.project-card {
  display: flex;
  flex-direction: column; /* mobile: stack image over text */
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

/* Ensure both image and text take full width on mobile */
.project-card .grid-item {
  width: 100%;
}

.date{
  text-transform: capitalize;
  border: 3px solid var(--button);
  padding: 0.25rem 0.5rem;
  border-radius: 4rem;
  width: fit-content;
}
/* Image styles (optional) */
.project-card img.project {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Tablet and up: image left, text right */
@media (max-width: 768px) {
  .project-card {
    flex-direction: row;
    align-items: center;
  }

  .project-card .grid-item {
    width: 50%;
  }
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  padding: 1rem;
  
}

.grid-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-content {
  
  max-width: 1000px;
  margin: 0 auto;
}

.typing-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* @keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} */

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tablinks {
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background: none;
}

/* Hover state */
.tablinks:hover {
  background: var(--button); /* using your theme button color */
}

/* Active/Selected tab */
.tablinks.active {
  background: var(--button);
  color: var(--foreground);
}

.tabcontent {
  display: none;
  border: 1px solid var(--foreground);
  border-radius: 0.5rem;
}

.tabcontent.active {
  display: block;
}



.card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.iconcontainer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.icon {
  width: 30px;
  height: 30px;
}

.btn {
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--button);
  color: var(--foreground);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 0;
}

.btn:hover {
  background-color: var(--button);
}


/* iframe */

iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border: 0;
  border-radius: 10px;
}

/* companylogo */
.crop {
  overflow: hidden;
  width: 100%;
}

.logo-container {
  width: 100%;
  overflow: hidden;
}

.logo-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.companylogo {
  display: flex;
  margin: 0 1rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 20s linear infinite;
}

/* contact */
.contact-social-wrapper {
  display: flex;
  gap: 2rem; /* space between left and right */
  align-items: flex-start; /* align to the top */
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}
.contact-social-wrapper > div {
  flex: 1; /* each side takes equal width */
}
.contact-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}
input, textarea {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid var(--foreground);
}


.theme-image-container {
  position: relative;
}

.theme-image {
  transition: opacity 0.3s ease;
}

/* Light theme (default) */
.theme-image.dark {
  display: none;
}

/* Dark theme */
.dark .theme-image.light {
  display: none;
}

.dark .theme-image.dark {
  display: block;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--foreground);
}
/* project pages */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  margin: 2rem 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
}
.features-container {
  padding: 0 3rem;
  border-left: 2px solid var(--button);
  flex-direction: column; /* Side-by-side on desktop */
  align-items: flex-start;
}


.project-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.back-arrow {
  position: absolute;
  left: 0;
  top: 16px;
  color: var(--foreground);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem;
 
}


/* project-page */
.project-container{
  max-width: 1000px;
  margin: 100px auto 0 auto;
  width: 100%;
}
.project-page-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin: 0 auto;
}
.project-image{
  max-width: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.features-container {
  display: flex;
  flex-direction: column; /* Stack vertically by default (mobile) */

  gap: 2rem;
  align-items: stretch;
  justify-content: center;

}
.technologies-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}
.project-links{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.hyperlink{
  text-decoration: none;
  color: var(--foreground);
  font-weight: 600;
  transition: color 0.3s ease;
}
.hyperlink:hover{
  color: var(--button);
}
member-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
}

.member-btn {
  display: inline-block;
  padding: 0.5rem 1.25rem;
 
  color: var(--foreground);
  border: none;
  border-radius: 0.5rem;
 
  font-weight: 500;
  
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.member-btn:hover {
  background-color: #67e242;
  color: #fff;
}
/* about page */
.profile-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
.pill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pill {
  display: inline-block;
  padding: 0.4em 1em;
  color: var(--foreground);
  border: 4px solid var(--button);
  border-radius: 999px;
 
  margin: 0;
  transition: background 0.2s, color 0.2s;
}

.pill:hover {
  background: #67e242;
  color: #fff;
/* }

@media (max-width: 768px) {
  .footer-content{
    flex-direction: column;
    align-items: center;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
 
  .contact-social-wrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form-container {
    width: 100%;
   
  }
}
.member-btn:hover {
  background-color: #67e242;
  color: #fff;
}

@media (max-width: 500px) {
  .features-container {
    border: 0;
  }
  .back-arrow{
    top: 0px;
    

  }
}
