

.tabsList{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
}


[role="tab"] {
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

[role="tab"][data-state="active"] {
  background-color: #c7ebbc;
  color: #353535;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[role="tab"][data-state="inactive"] {
  background-color: white;
  color: #353535;
    }




.clearButton {
  

  cursor: pointer;
  font-size: 0.875rem;
  margin-left: 0.5rem;
  border: none;
}
@media screen and (max-width: 768px) {
  .tabsList{
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 414px) {
  .tabsList{
    grid-template-columns: repeat(4, 1fr);
  }
}
