<!-- nav.html -->
<nav class="containerbg">
    <div class="container">
        <div class="nav-bar">
            <a href="../index.html"> <img class="logo" src="../images/Logo.svg" alt=""></a>
            <div class="nav-toggle" id="navToggle">

                <img id="navClosed" class="navIcon"
                    src="../images/hamburger.svg"
                    alt="hamburger menu">
                <img id="navOpen" class="navIcon hidden"
                    src="../images/close.svg"
                    alt="close hamburger">
            </div>
        </div>
        <div>
            <div class="nav-style" id="navMenu">
                <ul class="navfont">
                    <li><a href="../index.html#">Home</a></li>
                    <li><a href="../about.html">About</a></li>
                    <li><a href="../index.html#projects">Projects</a></li>
                    <li><a href="../index.html#contact">Contact</a></li>
                    <li><a href="https://wanchanlin.webflow.io/">Design Site</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>